<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GQF Database</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">GQF Database</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

<h1> design </h1>

{% if script_list %}
    <ul>
    {% for script in script_list %}
        <li><a href="/design/{{ script.id }}/">{{ script.code }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No structures are available.</p>
{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>   